# Игнорировать все файлы и подкаталоги в каталоге
temp/*

# Игнорировать файл input.txt в любом месте внутри проекта
**/input.txt
**/postgresdata.py
**/dbconnect.py
**/notification_test.py
# Игнорировать файл log.txt в любом месте внутри проекта
**/log.txt

**/docker-compose.yml
