# Игнорировать все файлы и подкаталоги в каталоге "насрали"
temp/*

# Игнорировать файл input.txt в любом месте внутри проекта
**/input.txt

# Игнорировать файл log.txt в любом месте внутри проекта
**/log.txt
